html {
    background: url(../imgs/temp.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



img { 
	max-width: 100%;
	height: auto;
	width: auto\9;
}

h1 {
    color: black;
    text-align: center;
}

h2 {
    color: black;
    margin-left: 50px;
}

h3 {
    color: black;
    margin-left: 10px;	
}

p, a, li {
    margin-left: 30px;	
}

th, td {
    text-align: center;
    padding: 1px;
}

#page {
    background-color: rgba(255,255,255,0.8);
    border-radius: 5px;
    padding: 5px;
    margin-left: 15%;
    margin-right: 10%;
    width: 800px;
}

#header {
    width: calc(100% + 10px);
    height: 5em;
    transform: translate(-5px,-5px);   
}

#header-content {
	float: left;
    margin-left: 15%;
}

#info {
	float: right;
	padding: 5px;
	margin-right: 20%;
}

#content {

}

#footer {
	
}

#fancy {
	font-size: medium;
	text-align: center;
}

#bold {
	font-weight: 600;
}

#tabbed {
	margin-left: 50px;
}

#SUCCESS {
	color: green;
	font-weight: 600;
}

#FAILURE {
	color: red;
	font-weight: 600;
}

.button {
	style: bold;
	height: 40px;
	line-height: 40px;
	text-align: center;
	vertical-align: middle;
	display: inline;
	background-color: #34404C;
	color: rgba(255,255,255, 1);	
	padding: 5px;
	border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 1);
}

a.button {
    text-decoration: none;
}

a.button:hover {
	background-color: #48535E;
}