#acknowledgments {
    clear: both;
    width: 80%;
    min-width: 800px;
    padding: 1em 0px 0.5em 0px;
    border: 0px solid white; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
    text-align: justify;
    border-style: solid;
    color: #111111;
    background-color: white;
}

#acknowledgments a {
	color: #3385FF;
    text-decoration: none;
}

#acklogo {
    width: 98%;
    padding-top: 15px;
    text-align: justify;
}

#acklogo {
    margin-left: auto; 
    margin-right: auto;
    text-align: justify;
}

#acklogo:after {
    content: "";
    width: 100%;
    display: block;
}

#acklogo a {
    vertical-align: top;
    display: inline-block;
}
    
#logoORNL {
    height: 75px;
}

#logoLANL {
    height: 75px;
}

#logoDOESC {
    height: 75px;
}

#piscees {
    text-align: center;
    padding: 0px 10px;
}
