{% include 'header.html' %}
  <div id="nav">
    <a href="../../index.html" class="button">Home</a>
    <a href="../{{testName}}.html" class="button">{{testName}}</a>
    <a href="http://blizzard.ornl.gov" class="button">Blizzard</a>
    <a href="http://oceans11.lanl.gov/cism/" class="button">CISM</a> 
  </div>
  <div id="content">
  <h2>{{testName}}</h2>
  {% for case in testsRun %}
  	<h3 id="{{case}}">{{case}}</h3>
    {% if case in modelConfigs %}
		{% for file in modelConfigs[case] %}
			<h4>{{file}}</h4>
    		{% for section, vars in modelConfigs[case][file].iteritems() %}
    			<div class="section">
    			  <b>[{{section}}]</b>
    			  <p class="variable">
    			  {% for var, val in modelConfigs[case][file][section].iteritems() %}
    			  	{% if case in benchConfigs and
    			  		file in benchConfigs[case] and
    			  		section in benchConfigs[case][file] and
    			  		var in benchConfigs[case][file][section]%}
    			  	  {% if val == benchConfigs[case][file][section][var] %}
    					  {{var}} = {{val}}<br>					  	
    			  	  {% else %}
    			  		  {{var}} = <p class="SUCCESS">{{val}}</p> <p class="FAILURE">{{benchConfigs[case][file][section][var]}}</p> <br>
    			  	  {% endif %}
    			  	{% else %}
    			  		{{var}} = {{val}} <br>
    			  	{% endif %}
    			  {% endfor %}
    			  </p>
    			</div>
    		{% endfor %}
		{% endfor %}        
    {% endif %}
  {% endfor %}
  <br>
    
{% include 'footer.html' %}