{% include 'components/header.html' %}

	<div id="content">
	       <hr style="padding: 10px; opacity: 0; clear: both;"/>
	       
	       
		    <div class="verification">
		      {% for test, summary in verificationSummary.iteritems() %}
		        <a href="{{indexDir}}/verification/{{test}}.html">{{test}}</a>
		        <br>
		        {% for case, details in summary.iteritems() %}
		          <b>{{case}}</b> <p>{{details}}</p>
		        {% endfor %}
		      {% endfor %}
		    </div>


			<div class="performance">
			  {% for test, summary in performanceSummary.iteritems() %}
		        <a href="{{indexDir}}/performance/{{test}}.html">{{test}}</a>
		        <br>
		        {% for case, details in summary.iteritems() %}
		          <b>{{case}}</b> <p>{{details}}</p>
		        {% endfor %}
		      {% endfor %}
			</div>


			<div class="validation">
			  {% for test, summary in validationSummary.iteritems() %}
		        <a href="{{indexDir}}/validtion/{{test}}.html">{{test}}</a>
		        <br>
		        {% for case, details in summary.iteritems() %}
		          <b>{{case}}</b> <p>{{details}}</p>
		        {% endfor %}
		      {% endfor %}
			</div>


{% include 'components/footer.html' %}
