{% include 'header.html' %}
  <div id="nav">
    <a href="../index.html" class="button">Home</a>
    <a href="http://blizzard.ornl.gov" class="button">Blizzard</a>
    <a href="http://oceans11.lanl.gov/cism/" class="button">CISM</a> 
  </div>
  <div id="content">
  <h2>{{testName}}</h2>
  
  <h4>Details</h4>
  <p margin-left="20px">
    {{testDescription}}
  </p>
  
  <h4>Plots</h4>

    {% for img in testImages %}
      {% if img != [] %} 
      <div class="gallery">
      	<div style="float: left; display: inline;">
             <a href="#img_form{{loop.index}}" id="img_pop">
                <img src="{{imgDir}}/{{img}}" width="100px"></img>
            </a>
	        <div class="description">{{img}}</div>
        </div>
      </div>
      <a href="{{testName}}.html" class="overlay" id="img_form{{loop.index}}"></a>

      <div class="popup">
          <img src="{{imgDir}}/{{img}}" class="imageOverlay"></img>
          <a class="close" href="#close">x</a>
      </div>
      {% endif %}
    {% endfor %}
  
  <br style="clear: both" />
  <h4>Results</h4>
  
  <STYLE type="text/css">
  #select :checked + {% for i in range(testsRun|length -1) %} * + {% endfor %} label { background-color:#3385FF;border-color:#3385FF;color:#fff;}
  #select :checked + {% for i in range(2*testsRun|length -1) %} * + {% endfor %} div {display: block; }
  </STYLE>
  
  <div id="select" class="tabs">
    {% for case in testsRun %}
    <input id="tab-{{case}}" name="tabs" type="radio" checked />
    {% endfor %}  

    {% for case in testsRun %}
    <label for="tab-{{case}}">{{case}}</label>  
    {% endfor %}  
      
    {% for case in testsRun %}
    <div class="case">
      <p style="font-weight: 600;"> 
        Bit for Bit 
        <a style="font-size: small; font-style: italic">
          Click on failures to see difference plots
        </a> 
      </p>

      <table class="tabbed">
      <tr>
        <th>Output File</th>
        <th>Status</th>
        <th>Total Error</th>
      </tr>
      {% for file, details in bitForBitDetails[case].iteritems() %}
        <tr>
          <td style="text-align: left">
            {{file}}
          </td>
          <td>
            <a class={{details[0]}}
            {% if details[0] == "FAILURE" %}
            	target="_blank" href={{imgDir}}/bit4bit/{{file}}.png
            {% endif %}
            >{{details[0]}}</a>
          </td>
          {% if details[0] == "FAILURE" %}
          	<td>{{details[1]}}</td>
          {% endif %}
        </tr>
      {% endfor %}
      </table>
        
      <br height="20px" />
      <b> Standalone </b>
      <br height="10px" />
      <hr style="opacity: 0;">
          {% if case in modelConfigs %}
            {% for file in modelConfigs[case] %}
                <div class="Configuration">
    
                  <a href="#hide{{case}}{{loop.index}}" class="hide" id="hide{{case}}{{loop.index}}">+</a>
                  <a href="#show{{case}}{{loop.index}}" class="show" id="show{{case}}{{loop.index}}">-</a>
                  <h4 class="top">{{file}}</h4>
                  <div class="sections">
                    <div style="clear:both;"></div>
                    {% set changed = [] %}
                    {% for section, vars in modelConfigs[case][file].iteritems() %}
                          <b>[{{section}}]</b>
                          <div class="variable">
                          {% for var, val in modelConfigs[case][file][section].iteritems() %}
                            {% if case in benchConfigs and
                                file in benchConfigs[case] and
                                section in benchConfigs[case][file] and
                                var in benchConfigs[case][file][section]%}
                              {% if val == benchConfigs[case][file][section][var] %}
                                  {{var}} = {{val}}<br>
                              {% else %}
                                  {{var}} = <p style="color: green; display:inline">{{val}}</p> <p style="color: red; display:inline">{{benchConfigs[case][file][section][var]}}</p> <br>
                                  {% do changed.append(1) %}
                              {% endif %}
                            {% else %}
                                {{var}} = {{val}} <br>
                                  {% do changed.append(1) %}
                            {% endif %}
                          {% endfor %}
                          </div>
                    {% endfor %}
                  </div>
                  <div class="status">
                    {% if changed %}
                      <p style="float: left; color: red">Files differ</p>
                    {% else %}
                      <p style="float: left; color: green">Files match</p>
                    {% endif %}
                  </div>
                </div>
                <div style="clear:both;"></div>
                <hr>
            {% endfor %}
        {% endif %}

        {% if testDetails[case] != [] %}
      	<table style="width:100%">
      		<tr>
      			<th>Output File</th>
      			{% for var in testHeader %}
      				<th>{{var}}</th>
      			{% endfor %}
      		</tr>
      		{% for file, details in testDetails[case] %}
      		<tr>
      			<td style="text-align: left">{{file}}</td>
      			{% for key, value in details.iteritems() %}
      			<td>{{value}}</td>
      			{% endfor %}
      		</tr>
      		{% endfor %}
      	</table>
      	{% else %}
      		<p>No data found</p>
      	{% endif %}
    </div>
    {% endfor %}
    </div>
    <br>

    
{% include 'footer.html' %}