<!-- 
  Template for generating test specific pages.
-->

<!-- Include the header and some links -->
{% include 'components/header.html' %}
  
  <!--   Start the pace specific content -->
  <div id="content">
  <h2 style="padding-left: 15px;">{{testName}}</h2>
  <div class="description">
    <p>{{testDescription}}</p>
  </div>
  <br style="clear: both" />
  
  <!--   Some CSS for determining which tab is selected -->
  <STYLE type="text/css">
  #select :checked + {% for i in range(testsRun|length -1) %} * + {% endfor %} label { background-color:#47A3FF;border-color:#47A3FF;color:#fff;}
  #select :checked + {% for i in range(2*testsRun|length -1) %} * ~ {% endfor %} div {display: block;}
  </STYLE>
  
  <!-- Generate the tab section -->
  <div id="select" class="tabs">
    <!-- The part that is hidden from the user -->
    {% for case in testsRun %}
    <input id="tab-{{case}}" name="tabs" style="-webkit-appearance:none;" type="radio" checked />
    {% endfor %}  
    <!-- The part you can click on -->
    {% for case in testsRun %}
    <label for="tab-{{case}}">{{case}}</label>  
    {% endfor %}  
      
    <!-- Go through each of the test cases that fall under this specific subcategory -->
    {% for case in testsRun %}
    <div class="case">
      {% include 'components/plots_section.html' %}
      {% include 'components/bit_for_bit_section.html' %}
      {% include 'components/configuration_comparison_section.html' %}
      {% include 'components/output_analysis_section.html' %}
    </div>
    {% endfor %}
  </div>
  <br>

<!-- Include the footer -->
{% include 'components/footer.html' %}
