API: File index
================
:generator: JsDoc Toolkit

.. contents::
   :local:

<for each="item" in="data">

* {+item.alias+}

  <if test="item.desc">{+resolveLinks(item.desc).toRst().reIndent(2)+}</if>

  <if test="item.author">
  :author: {+item.author+}
  </if>
  <if test="item.version">
  Version: {+item.version+}
  </if>

  {! var locations = item.comment.getTag('location').map(function($){return $.toString().replace(/(^\$ ?| ?\$$)/g, '').replace(/^HeadURL: https:/g, 'http:');}) !}

  <if test="locations.length">
  :location:
   <for each="location" in="locations">
    * {+location+}
   </for>
  </if>

</for>

{+includeTemplate("footer.tmpl")+}
