{% include 'header.html' %}

  <h2>{{testName}}</h2>
  
  <h3>Details</h3>
  <p>
    {{testDescription}}
  </p>
  
  <h3>Plots</h3>
  <p>
    {% for img in testImages %}
      {% if img != [] %} 
        <img src="{{imgDir}}/{{img}}" alt="{{imgDir}}/{{img}}" style="height:75%;">
        <br>
      {% endif %}
    {% endfor %}
  </p>
  
  <h3>Results</h3>
    {% for case in testsRun %}
      <h4>{{case}}</h4>
      
      
      <p id="bold"> Bit for Bit </p>
        <table id="tabbed">
        {% for file, details in bitForBitDetails[case].iteritems() %}
          <tr><td style="text-align: left">{{file}}</td>  <td><a id={{details}}>{{details}}</a></td></tr>
        {% endfor %}
        </table>
        
        
      <p id="bold"> Standalone </p>
      	<table style="width:100%">
      		<tr>
      			<th>Output File</th>
      			{% for var in testHeader %}
      				<th>{{var}}</th>
      			{% endfor %}
      		</tr>
      		{% for file, details in testDetails %}
      		<tr>
      			<td style="text-align: left">{{file}}</td>
      			{% for key, value in details.iteritems() %}
      			<td>{{value}}</td>
      			{% endfor %}
      		</tr>
      		{% endfor %}
      	</table>
 
    {% endfor %}
  <a href="../index.html">Home</a> 
    
{% include 'footer.html' %}