

        <!-- BEGIN OUTPUT ANALYSIS SECTION -->
        <b class="label-header">Output Analysis</b>
        <div class="separator">
        {% if testDetails[case] != [] %}
        <table style="width:100%">
            <tr style="background-color: #47A3FF;">
                <th>Output File</th>
                {% for var in testHeader %}
                    <th>{{var}}</th>
                {% endfor %}
            </tr>
            {% for file, details in testDetails[case] %}
            <tr>
                <td style="text-align: left">{{file}}</td>
                {% for key, value in details.iteritems() %}
                <td>{{value}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        {% else %}
            <p style="padding-left: 20px; color: #696969;">No data found</p>
        {% endif %}
        </div>
        <!-- END OUTPUT ANALYSIS SECTION -->
        
        