

      <!-- BEGIN TIMING SUMMARY SECTION -->
      <b class="label-header"> Timing Summary</b>
      <br style="clear:both; height: 10px;" />
      <div class="separator">
      {% if case in modelTimingData %}
      {% for dycore, data in modelTimingData[case].iteritems() %}
        <br style="clear:both; height: 10px;" />
        <b style="display: block;">{{dycore}}</b>
        <table style="width: 100%;  border-collapse: collapse;">
          <tr>
            <th>Variable</th>
            <th>Average</th>
            <th>Minimum</th>
            <th>Maximum</th>
          </tr>
          {% for var, vals in data.iteritems() %}
            {% if vals[0] is defined %}
            <tr>
              <td style="text-align: right">{{var}}</td>
              {% set diffZero = vals[0] - benchTimingData[case][dycore][var][0] %}
              {% set diffOne = vals[1] - benchTimingData[case][dycore][var][1] %}
              {% set diffTwo = vals[2] - benchTimingData[case][dycore][var][2] %}
              <td style="text-align: left">
                {{'%0.5f' % vals[0]}} 
                {% if diffZero > 0 %}
                  <p style="display: inline; color: red">(+{{'%0.3f' % diffZero}})</p>
                {% else %}
                  <p style="display: inline; color: green">({{'%0.3f' % diffZero}})</p>
                {% endif %}
              </td>
              <td style="text-align: left">
                {{'%0.5f' % vals[1]}} 
                {% if diffOne > 0 %}
                  <p style="display: inline; color: red">(+{{'%0.3f' % diffOne}})</p>
                {% else %}
                  <p style="display: inline; color: green">({{'%0.3f' % diffOne}})</p>
                {% endif %}
              </td>
              <td style="text-align: left">
                {{'%0.5f' % vals[2]}} 
                {% if diffTwo > 0 %}
                  <p style="display: inline; color: red">(+{{'%0.3f' % diffTwo}})</p>
                {% else %}
                  <p style="display: inline; color: green">({{'%0.3f' % diffTwo}})</p>
                {% endif %}
              </td>
            </tr>
            {% else %}
            <tr>
              <td style="text-align: right">{{var}}</td>
              <td>N/A</td>
              <td>N/A</td>
              <td>N/A</td>
            </tr>
            {% endif %}
          {% endfor %}
        </table>
      {% endfor %}
      {% endif %}
      </div>
      <br style="clear: both" />
      <br height="30px" />
      <!-- END TIMING SUMMARY SECTION -->


